header.container-fluid.bg-light
    nav.bg-transparent.container(data-role="app-bar" data-expand-point="md")
        a.brand.no-hover.d-flex.flex-align-center
            div.aptos-logo
                img(src="images/aptos_word.svg")
            div.ml-2.reduce-1 |
            div.ml-2
                span.text-bold NFT
                span &bull;
                span MARKET

        ul.app-bar-menu.ml-auto
            li
                a(href="/logout").fg-red
                    span Logout
                    span.mif-exit.mif-2x.ml-2.va-middle

section.container-fluid
    div.container
        div.text-leader.text-center.mt-2#title Welcome to Aptos NFT Demo
