doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="vendor/metro4/css/metro-all.min.css")
        link(rel="stylesheet", href="css/index.css")

        title #{title}
    body.m4-cloak

        script.
            globalThis.config = !{clientConfig}
            globalThis.darkMode = false

        script(src="vendor/metro4/js/metro.min.js")
        script(type="module", src="js/index.js")