script.
    globalThis.config = !{clientConfig}

script(src="js/global.js")
script(src="vendor/metro4/js/metro.min.js")
script(src="js/metro.conf.js")
script(src="js/clipboard.js")
script(src="js/utils.js")
script(src="js/save.js")

